Dominik Zalewski 

s24216

In [1]:
import pandas as pd

path = 'C:/Users/Dominik/Desktop/PAD_02_PD.csv'

#opeing file
df = pd.read_csv(path, delimiter = ';')

In [2]:
#count all values in country column
df['Country'].value_counts(dropna=True)

A    328
B    201
C    186
D     78
Name: Country, dtype: int64

In [3]:
#count the number of goods in each row
df['owns_items_total'] = df['owns_car'] + df['owns_TV'] + df['owns_house'] + df['owns_Phone']

In [4]:
df.head()

,ID,Country,owns_car,owns_TV,owns_house,owns_Phone,gender,Age,owns_items_total
0,1,A,0.0,0.0,0.0,1,M,61,1.0
1,2,B,0.0,0.0,0.0,1,M,44,1.0
2,3,A,0.0,0.0,0.0,1,M,56,1.0
3,4,A,0.0,0.0,0.0,1,M,53,1.0
4,5,C,1.0,1.0,0.0,1,K,60,3.0

In [5]:
#count average number of itmes owned by men and women
men_mean = df['owns_items_total'][df['gender'] == 'M'].mean()
women_mean = df['owns_items_total'][df['gender'] == 'K'].mean()

print('The average of items owned by men: ', men_mean)
print('The average of items owned by women: ', women_mean)

The average of items owned by men:  0.8875
The average of items owned by women:  2.7974025974025976

In [6]:
#count min age in each country
min_age = pd.pivot_table(df, index='Country', aggfunc={'Age': min})

#count average number of owned goods in each country 
avg_owned_items = df.groupby(by=['Country']).mean()

In [7]:
#count number of women (we'll place 1 in each row if there is a woman)
def women(x):
    if x == 'K':
        return 1
    else:
        return 0
    
df['W'] = df['gender'].apply(women)

#sum all women, then divide by total number of rows in each country
w = df.groupby(['Country']).agg({'W': 'sum'})
w['total'] = df.groupby(['Country']).size()
w['women_perc'] = w['W'] / w['total'] * 100

#deleting 2 columns
del w['total']
del w['W']

In [8]:
w['minimum_age'] = min_age['Age']
w['avg_owned_items'] = avg_owned_items['owns_items_total']
w

         women_perc  minimum_age  avg_owned_items
Country
A          0.000000           18         0.861538
B         62.189055           18         1.461929
C         98.924731           18         3.032787
D        100.000000           18         4.000000